*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Primary';
    src: url('/fonts/outward-block-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #212121;
    --secondary: #ffffff;
    --alternate: #502bd8;
}

html {
    font-size: max(100vw / 1920 * 10);
}

body {
    background-color: var(--primary);
    color: var(--secondary);
}

section.nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 100;
}

.nav_wrapper {
    padding: 2rem;
}

.nav_list {
    display: inline-flex;
    gap: 20%;
}

.nav_list_item {
    font-size: 20rem;
    text-transform: uppercase;
    cursor: pointer;
}

section.transition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    z-index: 200;
}

.transition_columns {
    display: flex;
    width: 100%;
}

.transition_column {
    position: relative;
    width: 20%;
    border-right: 1px solid #ffffff26;

    height: 100vh;
    transform: translateY('-101%');

    background-color: var(--alternate);
}

.transition_column_text {
    position: absolute;
    left: 2rem;
    top: 2rem;

    height: calc(100% -4rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transition_column_text span {
    font-size: 6rem;
}

.transition_element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    z-index: 150;
}

.transition_element h1 {
    font-size: 40rem;
    line-height: 0;
    text-align: center;
}